{% extends 'base.html' %}

{% block title %}<title>Team</title>{% endblock %}

{% block head %}
{% endblock %}
{% block styles %}
{% endblock %}


{% block content %}
<section class="py-5">
    <!-- Start: Team -->
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Our Services</p>
                <h2 class="fw-bold">All Star Talent</h2>
                <p class="text-muted">No matter the project, our team can handle it.&nbsp;</p>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 mx-auto" style="max-width: 700px;">
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="static/assets/img/team/avatar4.jpg">
                    <h5 class="fw-bold mb-0"><strong>Kamron H.</strong></h5>
                    <p class="text-muted mb-2">Erat netus</p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="static/assets/img/team/avatar6.jpg">
                    <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                    <p class="text-muted mb-2">Erat netus</p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="static/assets/img/team/avatar5.jpg">
                    <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                    <p class="text-muted mb-2">Erat netus</p>
                </div>
            </div>
        </div>
    </div><!-- End: Team -->
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

